.breadcrumb-page-header {
    .breadcrumb {

        a {
            text-decoration: none;
            position: relative;
            border: var(--text-color);
            padding: 2px 20px;
            height: 100%;
            border-radius: 2px;
            border-left: none;
            margin: 0 1px;
            transition: all .2s;
            cursor: pointer;
            
            &:after {
                content: '>';
                position: absolute;
                height: 100%;
                top: 3.5px;
                right: -3px;
            }

            /* &:last-child:after {
                content: none;
            } */
            &:hover,
            &:hover:after,
            &:hover:before {
                color: var(--on-surface);
                height: 100%;
            }

            &:hover {
                transition: all .2s;
            }
        }
    }

}