.breadcrumb-page-header {
    .breadcrumb {
        a {
            color: var(--primary);
            text-decoration: none;
            position: relative;
            border: var(--text-color);
            padding: 2px 20px;
            height: 100%;
            font-size: 20px;
            border-radius: 2px;
            border-left: none;
            margin: 0 1px;
            transition: all .2s;
            cursor: pointer;

            &:before {
                content: '/';
                position: absolute;
                height: 100%;
                left: 0px;
                top: -2;
            }

            &:after {
                content: '';
                position: absolute;
                height: 55%;
                top: 7px;
                right: -3px;
                width: 8px;
            }

            &:hover,
            &:hover:after,
            &:hover:before {
                color: var(--on-background);
                height: 100%;
            }

            &:hover {
                transition: all .2s;

                &:after {
                    right: 0;
                    height: 60%;
                    top: 5px;
                }
            }
        }
    }

}