.breadcrumb-page-header {
    background: transparent;
    align-items: center;
    display: flex;
    padding: 0;

    .breadcrumb {
        display: flex;
        li {
            display: inline-block;
        }

        .breadcrumbs__item--checked {
            color: var(--secondary);
        }
    }
}