.icon-button {
	width: 100%;
}

.component-container__icon-button {
	display: grid;
	grid-template-columns: 200px minmax(5rem, 1fr);
	grid-template-rows: 2rem;
	grid-gap: 30px;

	.column {
		text-align: center;
	}

	.box {
		.pragmate-icon-button {
			top: 12px;
		}
	}

	.code-container {
		transform: translateY(50px);
	}
}
