.code-inputs {
	display: flex;
	justify-content: center;
	border-radius: 0.5rem;

	padding: 2rem 2rem 0;
	background-color: var(--surface);

	input {
		width: 100%;
		padding: 0;
		margin: 0 5px 1rem;
		background-color: inherit;

		font-weight: 900;
		font-size: 40px;
		border: none;
		border-bottom: 1px solid var(--primary);
		outline: none;
		transition: all 0.2s ease-in-out;
		text-align: center;
		caret-color: var(--primary);
		color: var(--text-color);

		-moz-user-select: text;
		-ms-user-select: text;
		-webkit-user-select: text;
		user-select: text;

		&:-webkit-autofill,
		&:-webkit-autofill:focus {
			-webkit-transition: background-color 600000s 0s, color 600000s 0s;
			transition: background-color 600000s 0s, color 600000s 0s;
		}

		&:focus {
			border-color: var(--primary);
		}
		@media screen and (max-width: 320px) {
			font-size: 35px;
		}
	}
	input[data-autocompleted] {
		background-color: transparent !important;
	}
}
