.pui__vertical-line {
    display: flex;
    flex-direction: column;
    position: relative;

    .line {
        background: var(--outline);
        bottom: 1.73900rem;
        left: 1.73900rem;
        margin: 0 -1px;
        position: absolute;
        top: 1.73900rem;
        width: 2px;
        height: 100%;
        z-index: 17;
    
    }

    .container-timeline {
        .timeline-event {
            margin-bottom: 1.4rem;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: flex-start;
            gap: 1.5rem;

            &:last-child {
                margin-bottom: 0;
            }
    
            &__content--icon {
                display: flex;
                align-self: flex-start;
                align-items: center;
                justify-content: center;
                border: 1px solid;
                border-radius: 50%;
                height: 3.5rem;
                width: 3.5rem;
                background-color: var(--primary);
                z-index: 300000;
                & .pragmate-icon {
                    z-index: 90;
                    height: 2.5rem;
                    width: 2.5rem;
                }
            } 
    
            &__content--block {
                margin: 0;
                padding: 0;
                .item-header {
    
                    &__h3 {
                        margin: 0;
                        font-weight: bold;
                    }
    
                    &__span {
                        opacity: .7;
                        font-size: .9rem;
                    }
                }
    
                .block-description {
                    margin-top: 5px;
                }
            }
        }
    }
}

