:root {
  --md-source: #005947;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #002018;
  --md-ref-palette-primary20: #00382c;
  --md-ref-palette-primary25: #004436;
  --md-ref-palette-primary30: #005140;
  --md-ref-palette-primary35: #005e4b;
  --md-ref-palette-primary40: #006b56;
  --md-ref-palette-primary50: #00876d;
  --md-ref-palette-primary60: #0ba385;
  --md-ref-palette-primary70: #3ebf9f;
  --md-ref-palette-primary80: #5fdbb9;
  --md-ref-palette-primary90: #7ef8d5;
  --md-ref-palette-primary95: #b9ffe7;
  --md-ref-palette-primary98: #e6fff4;
  --md-ref-palette-primary99: #f3fff9;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #072019;
  --md-ref-palette-secondary20: #1d352d;
  --md-ref-palette-secondary25: #284038;
  --md-ref-palette-secondary30: #344c43;
  --md-ref-palette-secondary35: #3f574f;
  --md-ref-palette-secondary40: #4b635b;
  --md-ref-palette-secondary50: #637c73;
  --md-ref-palette-secondary60: #7d968c;
  --md-ref-palette-secondary70: #97b1a7;
  --md-ref-palette-secondary80: #b2ccc2;
  --md-ref-palette-secondary90: #cee9dd;
  --md-ref-palette-secondary95: #dcf7eb;
  --md-ref-palette-secondary98: #e6fff4;
  --md-ref-palette-secondary99: #f3fff9;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #001e2c;
  --md-ref-palette-tertiary20: #0e3446;
  --md-ref-palette-tertiary25: #1b3f52;
  --md-ref-palette-tertiary30: #284b5e;
  --md-ref-palette-tertiary35: #34566a;
  --md-ref-palette-tertiary40: #416276;
  --md-ref-palette-tertiary50: #5a7b90;
  --md-ref-palette-tertiary60: #7395ab;
  --md-ref-palette-tertiary70: #8db0c6;
  --md-ref-palette-tertiary80: #a8cbe2;
  --md-ref-palette-tertiary90: #c4e7ff;
  --md-ref-palette-tertiary95: #e3f3ff;
  --md-ref-palette-tertiary98: #f5faff;
  --md-ref-palette-tertiary99: #fbfcff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #191c1b;
  --md-ref-palette-neutral20: #2e312f;
  --md-ref-palette-neutral25: #393c3a;
  --md-ref-palette-neutral30: #444846;
  --md-ref-palette-neutral35: #505351;
  --md-ref-palette-neutral40: #5c5f5d;
  --md-ref-palette-neutral50: #747875;
  --md-ref-palette-neutral60: #8e918f;
  --md-ref-palette-neutral70: #a9aca9;
  --md-ref-palette-neutral80: #c4c7c4;
  --md-ref-palette-neutral90: #e1e3e0;
  --md-ref-palette-neutral95: #eff1ee;
  --md-ref-palette-neutral98: #f8faf7;
  --md-ref-palette-neutral99: #fbfdfa;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #141d1a;
  --md-ref-palette-neutral-variant20: #29322f;
  --md-ref-palette-neutral-variant25: #343d3a;
  --md-ref-palette-neutral-variant30: #3f4945;
  --md-ref-palette-neutral-variant35: #4b5550;
  --md-ref-palette-neutral-variant40: #57605c;
  --md-ref-palette-neutral-variant50: #6f7975;
  --md-ref-palette-neutral-variant60: #89938e;
  --md-ref-palette-neutral-variant70: #a3ada8;
  --md-ref-palette-neutral-variant80: #bfc9c3;
  --md-ref-palette-neutral-variant90: #dbe5df;
  --md-ref-palette-neutral-variant95: #e9f3ed;
  --md-ref-palette-neutral-variant98: #f2fcf6;
  --md-ref-palette-neutral-variant99: #f5fff9;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #006b56;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #7ef8d5;
  --md-sys-color-on-primary-container-light: #002018;
  --md-sys-color-secondary-light: #4b635b;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #cee9dd;
  --md-sys-color-on-secondary-container-light: #072019;
  --md-sys-color-tertiary-light: #416276;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #c4e7ff;
  --md-sys-color-on-tertiary-container-light: #001e2c;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fbfdfa;
  --md-sys-color-on-background-light: #191c1b;
  --md-sys-color-surface-light: #fbfdfa;
  --md-sys-color-on-surface-light: #191c1b;
  --md-sys-color-surface-variant-light: #dbe5df;
  --md-sys-color-on-surface-variant-light: #3f4945;
  --md-sys-color-outline-light: #6f7975;
  --md-sys-color-inverse-on-surface-light: #eff1ee;
  --md-sys-color-inverse-surface-light: #2e312f;
  --md-sys-color-inverse-primary-light: #5fdbb9;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006b56;
  --md-sys-color-outline-variant-light: #bfc9c3;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #5fdbb9;
  --md-sys-color-on-primary-dark: #00382c;
  --md-sys-color-primary-container-dark: #005140;
  --md-sys-color-on-primary-container-dark: #7ef8d5;
  --md-sys-color-secondary-dark: #b2ccc2;
  --md-sys-color-on-secondary-dark: #1d352d;
  --md-sys-color-secondary-container-dark: #344c43;
  --md-sys-color-on-secondary-container-dark: #cee9dd;
  --md-sys-color-tertiary-dark: #a8cbe2;
  --md-sys-color-on-tertiary-dark: #0e3446;
  --md-sys-color-tertiary-container-dark: #284b5e;
  --md-sys-color-on-tertiary-container-dark: #c4e7ff;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #191c1b;
  --md-sys-color-on-background-dark: #e1e3e0;
  --md-sys-color-surface-dark: #191c1b;
  --md-sys-color-on-surface-dark: #e1e3e0;
  --md-sys-color-surface-variant-dark: #3f4945;
  --md-sys-color-on-surface-variant-dark: #bfc9c3;
  --md-sys-color-outline-dark: #89938e;
  --md-sys-color-inverse-on-surface-dark: #191c1b;
  --md-sys-color-inverse-surface-dark: #e1e3e0;
  --md-sys-color-inverse-primary-dark: #006b56;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #5fdbb9;
  --md-sys-color-outline-variant-dark: #010202;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
