@import './mixins/button-styles';
@mixin properties() {
	/* primary colors */
	--primary: #39A9DC;
	--primary-variant: #2177b4;
	--on-primary: #343434;

	/* secondary colors */
	--secondary: #8c8c8c;
	--secondary-variant: #484848;
	--secondary-accent: #f7c700;
	--on-secondary: #fff;

	/* general colors */
	--background: #fbfbfb;
	--background-variant: #ffffff;
	--text-color: #1d1d1d;
	--secondary-text-color: #000;
	--surface: #f7f7f7;

	/* alerts colors*/
	--info-container: #2196f3;
	--warning-container: #ffd54f;
	--warning-color: #ffd54f;
	--on-warning: #000000;
	--on-error: #fff;
	--error-container: #b00020;
	--on-success: #fff;
	--success-container: #2196f3;

	// tertiary color
	--tertiary: #87c544;

	/* custom app colors */

	--element-bg: #fff;
	--border: #e7e7e7;
	--border-variant: #e1e5ef;
	--text: #ffffffde;

	--preload-bg: var(--secondary);
	--user-menu-color: #505050;
	--user-menu-bg: var(--background);
	--input-bg: #ffffff;
	--border-color: var(--border);
	--icon-color: var(--primary);
	--box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	@include button-style('danger', #b00020);

	--app-code-bg: #1c1c1c;
	--app-code-bg2: #2d2d2d;
}
