@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;1,100;1,300;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
:root {

  --font-family: 'Poppins', sans-serif;
  --secondary-font-family: 'Roboto', sans-serif;
  --title-font: 'Inter', sans-serif;

  --gray-base: #000000;
  --gray-darker: #333333;
  --gray-dark: #4E5256;
  --gray: #82837F;
  --gray-variant: #979797;
  --gray-light: #D8D8D8;
  --gray-lighter: #F9F9F9;

  --background: var(--gray-lighter);
  --text-color: var(--gray-darker);
  --element-bg: #fff;
  --border: #DDDDDD;
  --border-variant: #E1E5EF;
  --text: #fff;
  --success: #22bb33;
  --warning: #F7C700;
  --error: #f04141;
  --info: hsla(211, 88%, 53%, 1);
  --chat-online: #43fc22;
  --preload-bg: var(--secondary);
  --main-color: hsla(211, 88%, 53%, 1);
  --text-grey: #707070;
  --text-gray-light: #757575;
  --border-primary: 8px;
  --border-secondary: 8px;

  --body-bg: #f5f8ff;
  --box-bg: #fff;
  --input-bg: #f5f8ff;
  --txt-color: #2f2d2f;
  --txt-second-color: #ccc;
  --border-color: #E1E1E1;
  --box-shadow: 0px 3px 6px #00000029;;
}
