/* changelog section */
.changelog {
	background-color: var(--surface);
	padding: 2rem 0;

	.changelog__wrapper {
		margin: 0em 12em 0em 12em;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.changelog__item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.changelog__meta {
		display: flex;
		justify-content: center;
		flex-basis: 25%;
		small {
			color: var(--primary-light);
			font-weight: 200;
			letter-spacing: 1px;
		}
	}
	.changelog__detail ul li {
		text-align: left;
		color: var(--on-primary);
	}
	.changelog__title {
		display: flex;
		justify-content: center;
		text-align: center;
		margin-bottom: 0;
		color: var(--on-primary);
	}
	.changelog__callout {
		margin: 3rem auto 2rem auto;
		text-align: center;
	}
}
