  /* nav specialized to landing page */
.logo {
  background: url("logo.svg") no-repeat;
  background-size: contain;
  margin: 1rem 0 0 1rem;
}

nav {
  background-color: var(--surface);
  .nav {
    max-width: 1340px;
    margin: 0 auto;
  }
}

//wrapper-home section

.wrapper-home {
  margin: 0em 12em 0em 12em;
}

/* hero section */
.hero {
  text-align: center;
  background-color: var(--surface);
  padding: 2rem 0 10rem 0;
  .hero__title {
    font-weight: 900;
    color: var(--primary);
  }

  .hero__description {
    margin: -1rem auto 2rem auto;
  }

 
}
.hero__terminal {
    width: 60%;
    margin: -11rem auto 3rem auto;
    text-align: left;
    color: white;
    padding: 0 1rem;
    border-radius: 4px;
    background-color: #232323;
    min-height: 285px;
    -webkit-animation: fadeUp 2s;
            animation: fadeUp 2s;
    box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
    pre {
      white-space: pre-line;
      padding-top: 1rem;
    }
  }
/* feature section */
.feature {
  display: flex;
  flex-wrap: wrap;

  .feature__item {
    max-width: calc(33% - 20px);
    margin: 0 20px 0 0;
    .section__title {
      margin-bottom: 0;
    }
    p {
      margin-top: 0.5rem;
    }
  }
}

/* callout section */
.callout {
  text-align: center;
  padding: 1rem 0 3rem 0;
  .button--primary {
    display: inline-block;
    margin-top: 0.5rem;
  }
}

/* changelog section */
.changelog {
  background-color: var(--surface);
  padding: 2rem 0;

  .changelog__wrapper {
    margin: 0em 12em 0em 12em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .changelog__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .changelog__meta {
    display: flex;
    justify-content: center;
    flex-basis: 25%;
    small {
      color: var(--primary-light);
      font-weight: 200;
      letter-spacing: 1px;
    }
  }
  .changelog__detail ul li {
    text-align: left;
    color: var(--text-on-primary);
  }
  .changelog__title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    color: var(--text-on-primary);
  }
  .changelog__callout {
    margin: 3rem auto 2rem auto;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .hero__terminal {
    width: 70%;
  }
  .tab__container > ul {
    right: auto;
    left: 0;
    padding-left: 0;
  }
  .tab__container .code {
    margin-top: 2rem;
  }
  .feature,
  .keybinding,
  .changelog__item {
    flex-direction: column;
  }
  .feature__item {
    max-width: 100%;
    margin: 0;
  }
  .keybinding {
    font-size: 0.8rem;
  }
}

.container-contributions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  color: var(--text-on-primary);
  gap: 20px;

  .beyond-button.btn-primary {
    height: 100px;
    width: 200px;
    border: 2px solid;

    &:hover {
      border: 2px solid var(--tertiary);
    }
  }

  img {
    height: 30px;
    /* width: 20px; */
  }
}