// @import '~simply-ui/mixins/scss/_containers';
/* nav specialized to landing page */
.logo {
	background: url('logo.svg') no-repeat;
	background-size: contain;
	margin: 1rem 0 0 1rem;
}

nav {
	background-color: var(--surface);
	.nav {
		max-width: 1340px;
		margin: 0 auto;
	}
}

//wrapper-home section

.wrapper-home {
	margin: 0em 12em 0em 12em;
}

/* feature section */
.feature {
	display: flex;
	flex-wrap: wrap;

	.feature__item {
		max-width: calc(33% - 20px);
		margin: 0 20px 0 0;
		.section__title {
			margin-bottom: 0;
		}
		p {
			margin-top: 0.5rem;
		}
	}
}

/* callout section */
.callout {
	text-align: center;
	padding: 1rem 0 3rem 0;
	.button--primary {
		display: inline-block;
		margin-top: 0.5rem;
	}
}

.container {
	max-width: 1140px;

	margin: auto;
}

@media (max-width: 750px) {
	.hero__terminal {
		width: 70%;
	}
	.tab__container > ul {
		right: auto;
		left: 0;
		padding-left: 0;
	}
	.tab__container .code {
		margin-top: 2rem;
	}
	.feature,
	.keybinding,
	.changelog__item {
		flex-direction: column;
	}
	.feature__item {
		max-width: 100%;
		margin: 0;
	}
	.keybinding {
		font-size: 0.8rem;
	}
}
