@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.container__aside {
	.sub-list {
		transition: all 0.2s ease-in-out;
		border-top: 0;
		li {
			a {
				border-left: 1px solid;
				transform: translateX(8px);
				padding-left: 2rem;
				&::before {
					width: 98%;
				}
			}
		}
	}

	.aside-scrollbar {
		position: relative;
		transition: all 0.2s ease-in-out;
		top: 0;
		.sidebar-item__icon {
			display: flex;
			justify-content: space-between;
		}
	}
}

.sidebar__item--checked > a {
	color: var(--text-color);
	font-weight: bold;
}
