.pui-icon-button {
	width: 40px;
	height: 40px;
	border: none;
	display: inline-grid;
	position: relative;
	outline: none;
	place-items: center;

	&:not(&:disabled) {
		cursor: pointer;
	}
	&:disabled {
		opacity: 0.6;
	}

	&.circle {
		border-radius: 50%;
		> .beyond-ripple {
			border-radius: 50%;
			align-self: center;
		}
	}
}
