.pui-icon-button {
	svg.pui-icon {
		height: 15px;
		width: 15px;
	}

	&.small-icon {
		height: 24px;
		width: 24px;

		.pui-icon {
			height: 12px;
			width: 12px;
		}
	}

	&.xs {
		.pui-icon {
			height: 15px;
			width: 15px;
		}
	}

	&.md {
		.pui-icon {
			height: 24px;
			width: 24px;
		}
		height: 36px;
		width: 36px;
	}

	&.lg {
		.pui-icon {
			height: 35px;
			width: 35px;
		}
		height: 35px;
		width: 35px;
	}
}
