@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.container__navbar {
	display: flex;
	position: sticky;
	top: 0;
	z-index: 20;
	transition: none;
	background-color: var(--background);
	align-items: center;
	justify-content: center;
	background-color: transparent;
	backdrop-filter: blur(10px);

	.header__app-icon {
		display: grid;
		place-items: center;
		height: 100%;
		svg {
			height: 70px;
			fill: var(--outline);
			width: 70px;
		}
	}
	.header-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 0 1rem;
		height: 100%;
		max-width: 1200px;
		display: flex;
		width: 90rem;
		align-items: center;
		justify-content: space-between;
	}

	.nav {
		display: flex;
		justify-content: center;
		text-align: center;
		font-weight: 600;
		gap: 1rem;
		* {
			box-sizing: border-box;
		}
		li {
			list-style: none;
			padding: 0;
			cursor: pointer;
		}

		a {
			position: relative;
			text-decoration: none;
			font-size: 1rem;
			&:hover {
				color: var(--primary);
			}
		}
	}

	.tag-a {
		color: var(--text-color);
		transition: all 0.35s ease;
	}
}

.container__navbar-scrolled {
	transition: none;
	border-bottom: 1px solid var(--surface);
}
