.container-checkbox {
	min-width: 100%;
	min-height: 5rem;
	border-radius: var(--border-radius-base);
	border: 1px solid var(--outline);
	.content {
		margin: 1rem 2rem;
		display: flex;
		flex-flow: column wrap;
		gap: 1rem;
	}
}