@use 'dark';
@use 'light';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,500;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
	--font-family: 'Poppins', sans-serif;
	--secondary-font-family: 'Poppins', sans-serif;
	--title-font: 'Poppins', serif;

	--gray-base: #000000;
	--gray-darker: #333333;
	--gray-dark: #707070;
	--gray: #d3d3d3;
	--gray-variant: #ededed;
	--gray-light: #dfe0e2;
	--gray-lighter: #f7f7f7;

	--success: #22bb33;
	--warning: #f7c700;
	--error: #fb8787;
	--border-error: #ff0c0c;
	--info: hsla(211, 88%, 53%, 1);

	--border-primary: 20px;
	--border-secondary: 8px;

	@include light.properties();
	@media (prefers-color-scheme: dark) {
		@include dark.properties();
	}
}

html[data-beyond-mode='light'] {
	@include light.properties();
}

html[data-beyond-mode='dark'] {
	@include dark.properties();
}
