:root {
	--primary: #6750a4;
	--primary-container: #eaddff;
	--on-primary: #ffffff;
	--on-primary-container: #21005e;
	--inverse-primary: #d0bcff;
	--secondary: #625b71;
	--secondary-container: #e8def8;
	--on-secondary: #ffffff;
	--on-secondary-container: #1e192b;
	--tertiary: #7d5260;
	--tertiary-container: #ffd8e4;
	--on-tertiary: #ffffff;
	--on-tertiary-container: #370b1e;
	--surface: #fef7ff;
	--surface-dim: #ded8e1;
	--surface-bright: #fef7ff;
	--surface-container-lowest: #ffffff;
	--surface-container-low: #f7f2fa;
	--surface-container: #f3edf7;
	--surface-container-high: #ece6f0;
	--surface-container-highest: #e6e0e9;
	--surface-variant: #e7e0ec;
	--on-surface: #1c1b1f;
	--on-surface-variant: #49454e;
	--inverse-surface: #313033;
	--inverse-on-surface: #f4eff4;
	--background: #fef7ff;
	--on-background: #1c1b1f;
	--error: #b3261e;
	--error-container: #f9dedc;
	--on-error: #ffffff;
	--on-error-container: #410e0b;
	--outline: #79747e;
	--outline-variant: #c4c7c5;
	--shadow: #000000;
	--surface-tint-color: #6750a4;
	--scrim: #000000;
}
