@mixin properties() {
	--surface: rgb(193, 193, 193);
	--primary: #ff8056;
	--primary-dark: #e36152;
	--primary-light: #ffa789;
	--primary-accent: #ffa789;
	--on-primary: rgb(0, 0, 0);
	--background: rgb(193, 193, 193);
	--accent-color: var(--primary);
	//secondary colors
	--secondary: #e4e4e4;
	--secondary-dark: #121f36;
	--secondary-light: #313c50;
	--secondary-accent: #424f6e;
	--on-secondary: #000000;
	--secondary-black-dark: #3a4a64;
	//background
	--text-color: #000;
	--text-title-color: var(--secondary-dark);
	--text-second-color: var(--gray-dark);
	--text-hover-color: var(--primary);

	--bg-element: var(--gray-light);
	--element-border-color: var(--gray-light);
	--separator-color: var(--gray-darker);
}
