.copyable-content {
	background: var(--secondary-black-dark);
	display: grid;
	grid-template-columns: calc(100% - 40px) 20px;
    align-items: baseline;
	.code {
		font-size: 0.9rem;

		padding: 0.8rem;
		display: flex;
		align-items: center;
		white-space: pre-wrap;

		code {
			background: transparent !important;
			width: 100%;
			padding: 1rem;
			
			.token-line {
				font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
					"Open Sans", "Helvetica Neue", sans-serif;
			}
		}
	}

	button.beyond-icon-button {
		svg.beyond-icon {
			width: 20px;
			height: 20px;
			fill: var(--text-on-secondary);
		}
	}
}
