.component-container {
	.box {
		h3 {
			margin: 0;
		}
	}

	.column {
		display: grid;
	}
	.on-backgrounds {
		.on-primary {
			background: var(--primary);
		}
		.on-secondary {
			background: var(--secondary);
		}
		.on-tertiary {
			background: var(-tertiary);
		}
	}
	.inline__container {
		display: flex;
		gap: 0.5rem;
	}
}
