h1.title-doc {
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid var(--primary);
    color: var(--primary);
    padding-bottom: 8px;
}

h3.title-doc,
h1.title-doc {
    margin: 8px 0 16px;
    line-height: 1;
    letter-spacing: 0;
}

h3.title-doc {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-on-primary);
    margin: 16px 0;
}