@import "~template/sass/mixins/set-media";
@import "~template/sass/mixins/global";

aside.docs__menu {
  flex-direction: column;
  z-index: 11;
  padding-top: 15px;
  padding-bottom: 30px;
  position: sticky;
  top: 50px;
  overflow-y: auto;
  @media (min-width: 765px) {
    height: calc(100vh - 130px); // header-menu & paddings
    max-height: 90vh;
  }

  @include set-media(tablet, false, 'max') {
    padding: 15px;
  }

  .docs__menu__list {
    --item-border: var(--primary);
    @include d-grid(5px);
    list-style: none;
    padding: 0 15px;
    position: sticky;
    top: 0;

    * span, a {
      font-size: 14px;
    }

    @include set-media(tablet, false, 'min') {
      &.mobile__menu {
        display: none;
      }
    }

  }

  @include set-media('tablet', false, 'min') {
    &.on-home {
      display: none;
    }
  }
}
