@import "~template/sass/mixins/set-media";

aside.docs__menu {

  @include set-media('tablet', false, 'max') {
    position: fixed;
    left: 0;
    width: 0;
    bottom: 0;
    top: 0;
    transition: 150ms ease-in all;
    overflow: hidden;
    padding: 0;
    height: 100vh;
    z-index: 101;

    .img-logo {

      margin: auto;
      height: 30px;
      display: flex;
      align-content: start;
      padding: 1rem;

    }

    .menu-mobile-container {
      background: var(--background);
      height: 100vh;
      width: 40%;
      overflow: auto;

      li {
        padding-top: 4px;
        padding-bottom: 4px;
      }

    }
    @include set-media('mobile', false, max) {
      .menu-mobile-container {
        width: 80%;
      }
    }

    &.docs__menu--opened {
      width: 100%;
      background: rgba(#000, .7);

      .beyond-perfect-scrollbar {
        width: 80%;
        height: 100%;
      }
    }
    // the header is hidden on desktop sizes
    .menu-docs__mobile-header {
      display: flex;
      place-items: center;
      justify-content: space-between;
      gap: 15px;

    }
  }
}
