/**
pragmate-ui
.pui-modal
*/
.pui-confirm-dialog {
	.pui-confirm-dialog-content &.pui-confirm-dialog-centered {
		justify-content: center;
		text-align: center;

		.confirm-dialog-content,
		.actions {
			display: grid;
			justify-content: center;
		}

		& :where(p, div) {
			color: var(--on-surface);
		}
	}
	.pui-confirm-dialog-content:where(p, div, h3, h4) {
		color: var(--on-surface);
	}
	.pui-confirm-dialog-content {
		h3 {
			margin: 0;
		}
		&__text {
			margin: 0.5rem 0 0;
		}
	}
	.actions {
		margin-top: 15px;
		display: grid;
		grid-auto-flow: column;
		grid-gap: 0.25rem;
		justify-content: end;
	}
}
