.pragmate-modal {
	.close-icon {
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		display: inline-block;
		fill: var(--text-color);
		opacity: 0.7;
		transition: all 100ms ease-in;
		display: flex;
		outline: none;
		cursor: pointer;

		&:focus {
			transition: all 100ms ease-in;
			opacity: 1;
		}

		svg {
			position: inherit;
			height: 1rem;
			width: 1rem;
		}
	}
}
