.container__footer {
    .footer__p {
         transition: all 300ms ease-in-out;
        &:hover {
            color: var(--primary);
            .footer__span-hover {
                color: var(--tertiary);
            }
        }

    }
}