.component-container {
	margin-top: 3em;
	display: grid;
	// grid-template-columns: 400px minmax(5rem, 1fr);
	grid-template-rows: 2rem;
	grid-gap: 30px;

	.column {
		text-align: center;
	}
}
.example {
	.content {
		margin: 1rem 0;
		display: flex;
		flex-direction: row;
		gap: 1rem;

		.pragmate-button {
			min-width: 100px;
		}
	}

	.alert {
		margin-top: 0.5rem;
	}
}
.component-container__alert {
	.pui-icon-button {
		top: 16px;
	}
}
