.pui-checkbox-group,
.pui-input,
.pui-textarea,
.pui-input-select {
	display: flex;
	flex-direction: column;
	position: relative;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.5rem;

	input,
	select,
	textarea {
		order: 2;
		box-sizing: border-box;
		background: transparent;
		box-shadow: none;
		border: 0.063rem solid var(--outline);
		padding: 0.5rem 1rem;
		outline: none;
		width: 100%;
		border-radius: var(--border-radius-base);
		margin: 0;
		font-size: 1rem; // Adjust font size as needed
		color: inherit; // Inherits the color from the parent element
		line-height: inherit; // Inherits line height from the parent element

		transition: border-color ease-in-out 0.3s;
		&:disabled {
			opacity: 0.3;
			cursor: not-allowed;
		}
		&:--webkit-autofill,
		&::--webkit-autofill,
		&::autofill,
		&:autofill {
			background-color: transparent !important;
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus {
			background: transparent;
			-webkit-box-shadow: none;
			transition: background-color 5000s ease-in-out 0s;
		}
	}
	&[data-autocompleted],
	textarea[data-autocompleted] {
		background-color: transparent;
	}

	label {
		order: 1;
		flex: 1;
		&.pui-input__label--bottom,
		&.pui-input__label--bottom-right {
			order: 3;
		}
	}
	&:not(.pui-input--unstyled) {
		select:focus,
		input:focus,
		textarea:focus {
			border-color: var(--primary);
		}
	}
}
