.pui-label,
.pui-input .pui-input__label,
.pui-textarea .pui-input__label {
	.label-content {
		display: inline-flex;
		justify-content: space-between;
		width: 100%;
	}

	&.is-required {
		position: relative;
		> span {
			position: relative;
			width: auto;
			&:after {
				position: absolute;
				content: '*';
				right: -0.8rem;
				align-content: center;
			}
		}
	}

	&.pui-input__label--right .label-content,
	&.pui-input__label--bottom-right .label-content {
		justify-content: flex-end;
	}
	span {
		&.pui-input__label--right {
			display: flex;
			align-self: end;
		}
	}
}
