.pui-textarea {
	position: relative;
	textarea {
		// border: none;
		outline: none;
		background-color: transparent;
		width: 100%;
		overflow: hidden;
		box-sizing: border-box;
		resize: vertical;
		border-radius: var(--border-radius-base);
		&:disabled {
			opacity: 0.3;
			cursor: not-allowed;
		}
	}

	.pui-textarea-counter {
		position: absolute;
		bottom: -1.25rem;
		right: 0;
		font-size: 0.75rem;
		&.pui-textarea-counter--warning {
			color: var(--warning);
		}
		&.pui-textarea-counter--danger {
			color: var(--error-50);
		}
	}
}
