$tablet-breakpoint: 1440px;

.home__header {
    height: 100%;
    padding: 3rem;

    display: grid;
    place-content: center;
    gap: 1rem;

    &-main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;

        h1 {
            text-align: center;
            font-size: 5rem;
            font-weight: bolder;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
  	        "Open Sans", "Helvetica Neue", sans-serif;
            margin: 0;
        }

        p {
            width: 80%;
            font-weight: 600;
            color: var(--secondary-text-color);
            font-size: 1.4rem;
            text-align: center;
            transition: all 0.7s;
            margin: 0;
        }
    }

    .started {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;



        .code-container {
            width: 280px;

            .clipboard__container {
                top: 1.4rem;
            }
        }

        .pragmate-button.btn-secondary.outline {
            display: flex;
            font-size: 1rem;
            font-weight: 600;
            padding: 0.5rem 5.5rem;
            color: var(--text-color);
            background-image: linear-gradient(50deg, var(--on-primary-container) 50%, transparent 50%);
            border-color: var(--tertiary);
            background-position: 100%;
            background-size: 250%;
            transition: all 0.4s ease-in-out;
            
            &:hover {
                background-position: 0;
                box-shadow: 0 5px 10px 0 var(--tertiary);
                color: var(--altern-text-color);
            }
        }

    }
}