.beyond-tabs {
    .beyond-tabs-items {
      background-color: transparent;
  
      .tabs-container {
        width: inherit;
      
        .beyond-tab {
          padding: 0;
          button {
            border: none;
            background: transparent;
            outline: none;
            width: 100%;
            height: 47px;
            padding: 0 2rem;
            background-color: var(--primary);
            color: var(--text-on-primary);
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 3px 6px #00000029;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            &:disabled {
              cursor: not-allowed;
            }
            &.first-button {
              border-radius: 8px 0px 0px 8px;
            }
            &.last-button {
              border-radius: 0 8px 8px 0
            }
          }
        
          &.tab-active button,
          button:not(:disabled):hover {
            box-shadow: inset 0px 3px 6px #00000029;
            background-color: var(--primary-dark);
          }
          &.tab-active::after {
            width: 100%;
            border-bottom: 1px solid var(--primary);
          }

        }
      }
    }
    .beyond-tabs-content {
        div {
            width: 100%;
            height: 400px;
            position: relative;
            p {
                position: absolute;
                inset: 0;
                margin: auto;
                height: max-content;
                text-align: center;
                font-size: 24px;
            }
        }
    }
  }