.swiper-container {
	position: relative;
	width: 100%;
}
.swiper-slide {
	width: auto;
	/* max-width: 400px; */
}
.pragmate-element-image {
	max-width: 300px;
	min-height: 300px;
	//  aspect-ratio: 1 / 1;
	user-select: none;

	img {
		width: 100%;
		max-width: 300px;
		height: 100%;
		min-height: 300px;
		max-height: 300px;
		//       aspect-ratio: 1 / 1;
	}

	.pragmate-element-image-preload {
		background-color: var(--gray-light);
	}
}
.swiper-pagination {
	width: calc(100%);
	height: 7px;
	right: 0;
	top: auto;
	left: auto;
	//   bottom: -10px;
	border-radius: 1rem;
	z-index: 100;

	.swiper-pagination-bullet {
		background-color: #fff;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		background-color: var(--primary);
	}

	.swiper-pagination-progressbar-fill {
		border-radius: 1rem;
	}
}
.swiper__navigation-btn {
	&.swiper-button-prev,
	&.swiper-button-next {
		background-color: var(--primary);
		border-radius: 50%;
		position: absolute;
		top: 50%;
		display: inline-flex;
		padding: 8px;
		z-index: 2;
		cursor: pointer;
		&.swiper-button-prev {
			left: 0.5rem;
		}
		&.swiper-button-next {
			right: 0.5rem;
		}
		svg.pui-icon {
			fill: #fff;
		}
	}
}
