.pui-input.pui-input--password {
    input {
        padding: 0.5rem 2rem 0.5rem 1rem;
    }
    .icon-eye.icon-eye {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        width: 1.25rem;
        height: 1.25rem;
        padding: 0;
        svg.pui-icon {
            width: 1.25rem;
            height: 1.25rem;
            fill: var(--primary);
        }
    }
    &.pui-input--icon {
        .icon-eye {
            right: 2.375rem;
        }
        &.left-icon {
            input {
                padding: 0.5rem 2rem 0.5rem 2rem;
            }
            .icon-eye {
                right: 0.5rem;
            }
        }
    }
}
