.pragmate-icon-button {

    svg.pragmate-icon {
        height: 15px;
        width: 15px;
    }

    &.small-icon {
        height: 24px;
        width: 24px;

        .pragmate-icon {
            height: 12px;
            width: 12px;
        }
    }
}