@import './button-styles';
$button-variants: (
	'primary': (
		var(--primary),
		var(--on-primary),
		var(--primary),
	),
	'secondary': (
		var(--secondary),
		var(--on-secondary),
		var(--secondary),
	),
	'tertiary': (
		var(--tertiary),
		var(--on-tertiary),
		var(--tertiary),
	),
	'default': (
		var(--default),
		var(--text-on-default),
		var(--default),
	),
	'success': (
		var(--success-container),
		var(--on-success),
		var(--success-container),
	),
	'warning': (
		var(--warning-container),
		var(--on-warning),
		var(--warning-container),
	),
	'error': (
		var(--error-container),
		var(--on-error),
		var(--error-container),
	),
	'info': (
		var(--info-container),
		var(--on-info),
		var(--info-container),
	),
);

.pragmate-icon-button {
	&.primary {
		background: var(--primary);
		color: var(--on-primary);

		svg {
			fill: var(--on-background);
		}
	}

	&.secondary {
		background: var(--secondary);
		fill: var(--on-secondary);
		color: var(--on-secondary);
	}
}

