.pragmate-icon-button {

    &.primary {
        background: var(--primary);
        color: var(--on-primary);
    
        svg {
                fill: var(--on-background);
        }
    }
    
    &.secondary {
        background: var(--secondary);
        fill: var(--on-secondary);
        color: var(--on-secondary);
    
    }
}
