.view {
	.component-implementation {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.component-implementation-icon {
		.pui-icon-button {
			top: 13px;
		}
	}

	.component-container__icon {
		.pui-icon-button {
			top: 0px;
		}
	}
}
