.pui-element-input,
.pui-textarea {
    &:has(.pragmate-button) {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    &:only-child .pragmate-button {
        margin: 0;
        border-radius: 12px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        max-width: 74px;
    }
}
