.pui-textarea {
	textarea {
		background: transparent;
		color: var(--text-color);
		border: 1.5px solid var(--primary);
		background: var(--surface-dim);
	}
}
.pui-element-input-dos,
.pui-textarea {
	width: 100%;
	position: relative;
	box-sizing: border-box;
	border: 1.5px solid var(--primary);
	border-radius: 12px;
	margin: 1rem 0;
	transition: all 0.4s ease-in-out;
	padding: 0 8px;

	input[type="date"]::-webkit-calendar-picker-indicator {
		position: absolute;
		right: 0.9rem;
		background: none;
		z-index: 40;
	}
	.pragmate-element-spinner {
		width: 40px;
		height: 40px;
	}

	.pui-element-input-error {
		position: absolute;
		bottom: -1.2rem;
		left: 0;
		color: var(--border-error);
		font-size: 12px;
	}

	&.has-icon {
		display: flex;
		align-items: center;

		label {
			padding: 8px 35px;
			text-transform: lowercase;
			::first-letter {
				text-transform: uppercase;
			}
		}

		input,
		textarea {
			padding: 0.5rem;
			box-sizing: border-box;
		}

		&:focus-within label,
		input:not(:placeholder-shown) ~ label,
		textarea:not(:placeholder-shown) ~ label {
			padding: 0px 19px;
		}

		.pragmate-icon {
			z-index: 10;
		}

		@media screen and (max-width: 450px) {
			.pragmate-icon-button {
				height: 30px;
			}
		}
	}

	.eye.pragmate-icon-button {
		position: relative;
		top: -0.1rem;
		right: 0.5rem;

		svg.pragmate-icon {
			width: 20px;
			height: 20px;
			color: var(--gray);
			fill: var(--gray);
		}
	}

	button.pragmate-icon-button {
		position: absolute;
		right: 0.5rem;
		z-index: 17;
	}
	&.error {
		border-color: var(--border-error);
	}
}
