.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tertiary);
    z-index: 30;

    &__toggle.pui-icon-button {
        position: absolute;
        right: 0;
        top: 0;
        background-color: var(--background);
        border: none;
        outline: none;
        cursor: pointer;
        svg.pui-icon {
            fill: var(--secondary);
        }
    }

    &__content {
        /* position: absolute; */
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: var(--background);
        z-index: 20;
        transition: all 300ms ease-in-out;
        &__hide {
            transform: translateX(-250px);
        }
        header {
            display: flex;
            align-items: center;
            min-height: 13px;
            height: 13px;
            column-gap: 16px;
            border-bottom: 1px solid var(--primary);
            padding-bottom: 16px;
            padding: 40px 16px 16px;
            .image-menu {
                width: 64px;
                height: 64px;
                background-color: var(--surface);
                border-radius: 50%;
                display: grid;
                place-items: center;
                .beyond-element-image {
                    width: 22px;
                    height: 18px;
                }
            }
            span {
                font-weight: bold;
                font-size: 18px;
                color: var(--text-color);
            }
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: var(--background);
        border: none;
        outline: none;
        cursor: pointer;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 16px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    &__item a {
        display: flex;
        column-gap: 22px;
        transition: all 300ms ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: var(--surface);
        }
        span {
            display: block;
            font-size: 18px;
            color: var(--primary);
            font-weight: bold;
        }

        svg.pui-icon {
            width: 24px;
            height: 24px;
            fill: var(--primary);
        }
    }
}
