@mixin button-styles($button-variants) {
	@each $type, $colors in $button-variants {
		$bg-color: nth($colors, 1);
		$text-color: nth($colors, 2);
		$bg-hover: nth($colors, 3);

		&.btn-#{$type} {
			background-color: $bg-color;
			color: $text-color;

			&:hover:not(:disabled) {
				background-color: $bg-hover;
			}

			/**
			 * Icon styles
			 */
			&.has-icon {
				display: flex !important;
				align-items: center;
				justify-content: center;
				column-gap: 8px;
				svg.pragmate-icon {
					fill: $text-color;
				}

				&.icon--right {
					flex-direction: row-reverse;
				}
			}
			&:disabled {
				opacity: 0.5;
				cursor: not-allowed;
			}

			&.has-icon svg {
				fill: $text-color;
			}

			&.outline {
				background-color: transparent;
				border: 1px solid $bg-color;
				color: $bg-color;
				svg.pragmate-icon {
					fill: $text-color;
				}
				&:hover:not(:disabled) {
					background-color: $bg-color;
					color: $text-color;
					border-color: $bg-hover;
				}

				&:disabled {
					opacity: 0.5;
					cursor: not-allowed;
				}
			}
		}
	}
}
