@mixin absolute-position($top: 0, $left: 0, $right: null, $bottom: null) {
	position: fixed;
	top: $top;
	left: $left;
	@if $right != null {
		right: $right;
	}
	@if $bottom != null {
		bottom: $bottom;
	}
}

.pui-drawer {
	z-index: 1000;
	background-color: var(--surface);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	// transition: transform 0.3s ease-in-out;
	height: 100%;

	&.hidden {
		transform: translateX(-100%);
	}

	&-left {
		@include absolute-position(0, 0);
		height: 100%;
		transform: translateX(-100%);
	}

	&-right {
		@include absolute-position(0, null, 0);
		height: 100%;
		transform: translateX(100%);
	}

	&-top {
		@include absolute-position(0, 0, null, null);
		width: 100%;
		height: 200px;
		transform: translateY(-100%);
	}

	&-bottom {
		@include absolute-position(null, 0, null, 0);
		width: 100%;
		height: 200px;
		transform: translateY(100%);
	}

	&.pui-drawer-open-left {
		transform: translateX(0);
	}
	&.pui-drawer-open-right {
		transform: translateX(0);
	}
	&.pui-drawer-open-top {
		transform: translateY(0);
	}
	&.pui-drawer-open-bottom {
		transform: translateY(0);
	}
}
