@mixin properties() {
	// Text (invertidos para dark)
	--text-color: var(--gray-50);
	--text-default: var(--gray-700);
	--text-subtle: var(--gray-500);
	--text-muted: var(--gray-400);
	--text-disabled: var(--gray-300);
	--text-placeholder: var(--gray-400);
	--text-label: var(--gray-200);
	--text-heading: var(--gray-800);
	--text-inverse: var(--white);
	--text-link: var(--primary-600);

	// Background (invertidos)
	--background: #141218;
	--background-default: var(--gray-50);
	--background-muted: var(--gray-100);
	--background-subtle: var(--gray-200);
	--background-inverse: var(--gray-900);
	--background-disabled: var(--gray-100);

	// Surface (invertidos)
	--surface: #181a1c;
	--surface-default: var(--gray-100);
	--on-surface: var(--gray-200);
	--surface-subtle: var(--gray-200);
	--surface-hover: var(--gray-200);
	--surface-pressed: var(--gray-300);
	--surface-disabled: var(--gray-100);

	// Border (invertidos)
	--border: var(--gray-700);
	--outline: var(--gray-700);
	--border-default: var(--gray-200);
	--border-subtle: var(--gray-100);
	--border-strong: var(--gray-400);
	--border-disabled: var(--gray-200);
	--border-focused: var(--primary-600);

	// Primary (invertidos)
	--primary: var(--primary-500);
	--primary-default: var(--primary-600);
	--on-primary: var(--white);
	--primary-hover: var(--primary-700);
	--primary-pressed: var(--primary-800);
	--primary-disabled: var(--primary-100);
	--primary-container: var(--primary-50);
	--on-primary-container: var(--primary-950);

	// Secondary (invertidos)
	--secondary: var(--secondary-500);
	--secondary-default: var(--secondary-600);
	--on-secondary: var(--white);
	--secondary-hover: var(--secondary-700);
	--secondary-pressed: var(--secondary-800);
	--secondary-container: var(--secondary-50);
	--on-secondary-container: var(--secondary-950);

	// Tertiary (invertidos)
	--tertiary: var(--tertiary-500);
	--tertiary-default: var(--tertiary-500);
	--tertiary-on: var(--white);
	--tertiary-hover: var(--tertiary-600);
	--tertiary-pressed: var(--tertiary-700);
	--tertiary-disabled: var(--tertiary-100);
	--tertiary-container: var(--tertiary-50);
	--on-tertiary-container: var(--tertiary-950);

	// Success (invertidos)
	--success: var(--success-500);
	--success-default: var(--success-600);
	--success-hover: var(--success-700);
	--success-pressed: var(--success-800);
	--success-container: var(--success-50);
	--on-success-container: var(--tertiary-900);

	// Error (invertidos)
	--error: var(--error-500);
	--error-default: var(--error-600);
	--error-hover: var(--error-700);
	--error-pressed: var(--error-800);
	--error-container: var(--error-50);
	--on-error-container: var(--error-900);

	// Warning (invertidos)
	--warning: var(--warning-500);
	--warning-default: var(--warning-600);
	--warning-hover: var(--warning-700);
	--warning-pressed: var(--warning-800);
	--warning-container: var(--warning-50);
	--on-warning-container: var(--warning-900);

	// Info (invertidos)
	--info: var(--info-500);
	--info-default: var(--info-600);
	--info-hover: var(--info-700);
	--info-pressed: var(--info-800);
	--info-container: var(--info-50);
	--on-info-container: var(--info-900);
	--primary-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--secondary-shadow: -5px 12px 2px 3px #58585833;
	--modal-background-color: rgba(0, 0, 0, 0.5);
}
