@mixin properties() {
	--info-container: var(--info-800);
	--warning-container: var(--warning-800);
	--success-container: #388e3c;

	--info-container: var(--info-500);
	--info-color: var(--text-color);
	--info-border-color: var(--info-500)
	--info-hover-bg: var(--info-400);
	--info-icon-color: var(--text-color);

	--warning-container: var(--warning-500);
	--warning-color: var(--text-color);
	--warning-border-color: var(--warning-500)
	--warning-hover-bg: var(--warning-400);
	--warning-icon-color: var(--text-color);

	
	--success-container: var(--success-500);
	--success-color: var(--text-color);
	--success-border-color: var(--success-500)
	--success-hover-bg: var(--success-400);
	--success-icon-color: var(--text-color);

	--error-container: var(--error-800);
	--error-color: var(--error-900);
	--error-border-color: var(--error-500);
	--error-hover-bg: var(--error-400);
	--error-icon-color:  var(--error-900);

	// app properties
	--app-text-highlight: var(--primary);
	--pui-success-icon-color: red;
}
