.view {
	.information {
		padding: 1rem 2rem;

		.title {
			font-size: 2rem;
			margin: 0 0 1rem 0;
			color: var(--text-on-primary);

			h3 {
				.ui {
					color: var(--primary);
				}
			}
		}

		p {
			font-size: 1.5rem;
			color: var(--text-on-primary);
			line-height: 1.5;
			font-size: 1rem;
		}
	}
	.to-install {
		margin: 16px 0;
		h4 {
			font-size: 22px;
			color: var(--text-on-primary);
			margin: 0 0 16px;
		}
	}
}
