$breakpoints: (
	xs: 0,
	sm: 600px,
	md: 960px,
	lg: 1280px,
	xl: 1920px,
) !default;

// You can then create a mixin for easily applying media queries:
@mixin respond-to($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (min-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	} @else {
		@warn "Invalid breakpoint: #{$breakpoint}.";
	}
}
