:root {
	// primary
	--primary: var(--primary-500);
	--primary-25: #eff0ff;
	--primary-50: #dbe1ff;
	--primary-100: #b5c4ff;
	--primary-200: #8ea7ff;
	--primary-300: #648aff;
	--primary-400: #306bff;
	--primary-500: #115efa;
	--primary-600: #0051e0;
	--primary-700: #0046c6;
	--primary-800: #003cac;
	--primary-900: #00297b;
	--primary-950: #00164d;

	// secondary
	--secondary: var(--secondary-500);
	--secondary-25: #e9f1ff;
	--secondary-50: #d0e4ff;
	--secondary-100: #9ccaff;
	--secondary-200: #5db0ff;
	--secondary-300: #2396ec;
	--secondary-400: #007bc8;
	--secondary-500: #38a2f9;
	--secondary-600: #0062a0;
	--secondary-700: #00568d;
	--secondary-800: #00497a;
	--secondary-900: #003256;
	--secondary-950: #001d35;

	// tertiary
	--tertiary: var(--tertiary-500);
	--tertiary-25: #e9f1ff;
	--tertiary-50: #d1e4ff;
	--tertiary-100: #9ecaff;
	--tertiary-200: #6eaff6;
	--tertiary-300: #5195da;
	--tertiary-400: #327abe;
	--tertiary-500: #11395d;
	--tertiary-600: #0061a3;
	--tertiary-700: #005590;
	--tertiary-800: #00497d;
	--tertiary-900: #003258;
	--tertiary-950: #001d36;

	/* Gray */
	--gray: var(--gray-500);
	--gray-25: #fbfdfa;
	--gray-50: #fef7ff;
	--gray-100: #f7f2fa;
	--gray-200: #f3edf7;
	--gray-300: #e1e3e0;
	--gray-400: #c4c7c4;
	--gray-500: #8e918f;
	--gray-600: #747875;
	--gray-700: #5c5f5d;
	--gray-800: #444846;
	--gray-900: #1c1b1f;
	--gray-950: #141218;

	// error
	--error: var(--error-500);
	--error-25: #ffffff;
	--error-50: #fffbff;
	--error-100: #fff8f7;
	--error-200: #ffedea;
	--error-300: #ffdad6;
	--error-400: #ffb4ab;
	--error-500: #ff5449;
	--error-600: #db3a33;
	--error-700: #b81f1e;
	--error-800: #a60f13;
	--error-900: #690005;
	--error-950: #410002;

	// success
	--success: var(--success-500);
	--success-25: #f5fff5;
	--success-50: #e9ffed;
	--success-100: #c0ffd6;
	--success-200: #92f7bc;
	--success-300: #76daa2;
	--success-400: #5abe88;
	--success-500: #007e33;
	--success-600: #006d43;
	--success-700: #005f3a;
	--success-800: #005231;
	--success-900: #003920;
	--success-950: #002111;

	// info
	--info: var(--info-500);
	--info-25: #ffffff;
	--info-50: #f5faff;
	--info-100: #e3f3ff;
	--info-200: #c3e8ff;
	--info-300: #00f5ff;
	--info-400: #00d6ff;
	--info-500: #0099cc;
	--info-600: #0080aa;
	--info-700: #004d66;
	--info-800: #002633;
	--info-900: #001a22;
	--info-950: #000d11;

	// warning
	--warning: var(--warning-500);
	--warning-25: #ffffff;
	--warning-50: #ffff00;
	--warning-100: #ffff00;
	--warning-200: #fff500;
	--warning-300: #ffda00;
	--warning-400: #ffbe00;
	--warning-500: #ff8800;
	--warning-600: #d47200;
	--warning-700: #804400;
	--warning-800: #402200;
	--warning-900: #2b1700;
	--warning-950: #150b00;

	--white: #ffffff;
	--black: #000000;
}
