:root {
	--primary: #115efa;
	--primary-100: #ffffff;
	--primary-99: #fefbff;
	--primary-98: #faf8ff;
	--primary-95: #eff0ff;
	--primary-90: #dbe1ff;
	--primary-80: #b5c4ff;
	--primary-70: #8ea7ff;
	--primary-60: #648aff;
	--primary-50: #306bff;
	--primary-40: #0051e0;
	--primary-35: #0046c6;
	--primary-30: #003cac;
	--primary-25: #003293;
	--primary-20: #00297b;
	--primary-10: #00164d;
	--primary-0: #000000;

	//secondary
	--secondary: #38a2f9;
	--secondary-100: #ffffff;

	--secondary-99: #fdfcff;
	--secondary-98: #f8f9ff;
	--secondary-95: #e9f1ff;
	--secondary-90: #d0e4ff;
	--secondary-80: #9ccaff;
	--secondary-70: #5db0ff;
	--secondary-60: #2396ec;
	--secondary-50: #007bc8;
	--secondary-40: #0062a0;
	--secondary-35: #00568d;
	--secondary-30: #00497a;
	--secondary-25: #003e68;
	--secondary-20: #003256;
	--secondary-10: #001d35;
	--secondary-0: #000000;

	--tertiary: #11395d;

	--tertiary-100: #ffffff;
	--tertiary-99: #fdfcff;
	--tertiary-98: #f8f9ff;
	--tertiary-95: #e9f1ff;
	--tertiary-90: #d1e4ff;
	--tertiary-80: #9ecaff;
	--tertiary-70: #6eaff6;
	--tertiary-60: #5195da;
	--tertiary-50: #327abe;
	--tertiary-40: #0061a3;
	--tertiary-35: #005590;
	--tertiary-30: #00497d;
	--tertiary-25: #003d6a;
	--tertiary-20: #003258;
	--tertiary-10: #001d36;
	--tertiary-0: #000000;

	//error

	--error: #ff5449;
	--error-100: #ffffff;
	--error-99: #fffbff;
	--error-98: #fff8f7;
	--error-95: #ffedea;
	--error-90: #ffdad6;
	--error-80: #ffb4ab;
	--error-70: #ff897d;
	--error-60: #ff5449;
	--error-50: #db3a33;
	--error-40: #b81f1e;
	--error-35: #a60f13;
	--error-30: #93000a;
	--error-25: #7e0007;
	--error-20: #690005;
	--error-15: #540003;
	--error-10: #410002;
	--error-5: #2d0001;
	--error-0: #000000;

	//success

	--success: #007e33;
	--success-100: #ffffff;
	--success-99: #f5fff5;
	--success-98: #e9ffed;
	--success-95: #c0ffd6;
	--success-90: #92f7bc;
	--success-80: #76daa2;
	--success-70: #5abe88;
	--success-60: #3ca36f;
	--success-50: #188857;
	--success-40: #006d43;
	--success-35: #005f3a;
	--success-30: #005231;
	--success-25: #004529;
	--success-20: #003920;
	--success-15: #002d19;
	--success-10: #002111;
	--success-5: #001509;
	--success-0: #000000;

	//info

	--info: #0099cc;
	--info-0: #000000;
	--info-10: #000d11;
	--info-20: #001a22;
	--info-30: #002633;
	--info-40: #004d66;
	--info-50: #0080aa;
	--info-60: #009acc;
	--info-70: #00d6ff;
	--info-80: #00f5ff;
	--info-90: #c3e8ff;
	--info-95: #e3f3ff;
	--info-98: #f5faff;
	--info-100: #ffffff;
	//warning

	--warning: #ff8800;
	--warning-0: #000000;
	--warning-10: #150b00;
	--warning-20: #2b1700;
	--warning-30: #402200;
	--warning-40: #804400;
	--warning-50: #d47200;
	--warning-60: #ff8800;
	--warning-70: #ffbe00;
	--warning-80: #ffda00;
	--warning-90: #fff500;
	--warning-95: #ffff00;
	--warning-98: #ffff00;
	--warning-100: #ffffff;
}
