.aside {
	position: relative;
	top: 0;

	.sidebar-item__icon {
		display: flex;
		/* justify-content: space-between; */
	}
}
.container__aside {
	.block__content-none {
		height: 60px;
	}
	ul {
		padding: 0;
		list-style: none;
		li {
			cursor: pointer;
			font-size: 17px;
			a {
				display: flex;
				width: 100%;
				padding: 0.5rem;
				&:hover {
					background: var(--primary-container);
				}
			}
		}
	}

	.sub-list {
		transition: all 0.2s ease-in-out;
		border-top: 0;
		li {
			border-bottom: 0;
			a {
				padding-left: 2rem;
				&::before {
					width: 98%;
				}
			}
		}
	}
}
