.aside {
	grid-area: aside;

	height: 100vh;
	background: var(--background);
	position: sticky;
	overflow: auto;	
	top: 0;
}

// MAIN NAV
.main-nav {
	ul {
		border-top: solid 1px var(--primary);
		padding-left: 0;
	}

	.sub-list {
		transition: all 0.2s ease-in-out;
		border-top: 0;
		li {
			border-bottom: 0;
			a {
				padding-left: 2rem;
				&::before {
					width: 98%;
				}
			}
		}
	}

	li {
		border-bottom: solid 1px var(--primary);
		height: 57px;
	}

	a {
		padding: 1.1em;
		color: var(--text-on-secondary);
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		flex-direction: row-reverse;
		justify-content: flex-end;

		&:hover {
			color: var(--text-on-primary);
		}

		svg.beyond-icon {
			fill: var(--text-on-primary);
			transition: all 0.2s ease-in-out;

			&.right {
				transform: rotate(-90deg);
			}
		}
	}
}


.sidebar-item {
	transition: all .4s;
	a {
		list-style: none;
	}

	.sidebar-item__icon {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.down,  .right {
			/* margin-left: 30px; */
			color: var(--primary);
		}
	}
	.sub-list {
		border-left: 2px solid var(--primary);
		transition: all .4s;
		/* margin-left: 30px; */
		margin: auto;
		margin-bottom: 5px;

		&:checked{
			color: red;
		}

		.sidebar-item {
		margin-left: 30px;
		}
	}
}