.aside {
	grid-area: aside;
	height: 100vh;
	background: var(--background);
	position: sticky;
	overflow: auto;
	top: 0;
}

// MAIN NAV
.container__aside {
	ul {
		padding: 0;
		list-style: none;
		li {
			cursor: pointer;

			a {
				display: flex;
				width: 100%;
				padding: 0.5rem;
				&:hover {
					background: var(--primary-container);
				}
			}
		}
	}

	.sub-list {
		transition: all 0.2s ease-in-out;
		border-top: 0;
		li {
			border-bottom: 0;
			a {
				padding-left: 2rem;
				&::before {
					width: 98%;
				}
			}
		}
	}
}
