/* @mixin button-group-orientation($orientations) {

        display: flex;
        height: 100%;
        width: max-content;
        flex-grow: 1;
        flex-shrink: 1;
        flex-wrap: nowrap;
        border: 1px solid var(--primary);
        
        &>.pragmate-button {
            border-radius: 0;
        }
    
}
 */