
.content-group {
    display: inline-block;
    .pragmate-button-group {
    
         display: flex;
         height: 100%;
         width: max-content;
         flex-grow: 1;
         flex-shrink: 1;
         flex-wrap: nowrap;
         overflow: hidden;
         border: 1px solid var(--primary);
         border-radius: var(--border-radius-base);

        &>.pragmate-button {
            border-radius: 0;
        }

     }
}
