.pui-button-group {
	display: flex;
	width: max-content;
	flex-shrink: 1;
	flex-wrap: nowrap;
	overflow: hidden;
	border: 1px solid var(--primary);
	border-radius: var(--border-radius-base);

	& > .pragmate-button {
		border-radius: 0;
		&:first-child {
			border-top-left-radius: var(--border-radius-base);
			border-bottom-left-radius: var(--border-radius-base);
		}
		&:last-child {
			border-top-right-radius: var(--border-radius-base);
			border-bottom-right-radius: var(--border-radius-base);
		}
	}
}
