.pui-input.pui-input--password {
    input {
        padding: 0.5rem 2rem 0.5rem 1rem;
    }
    .icon-eye.icon-eye {
        position: absolute;
        bottom: 8px;
        right: 8px;
        width: 20px;
        height: 20px;
        padding: 0;
        svg.pragmate-icon {
            width: 20px;
            height: 20px;
            fill: var(--primary);
        }
    }
    &.pui-input--icon {
        .icon-eye {
            right: 38px;
        }
        &.left-icon {
            input {
                padding: 0.5rem 2rem 0.5rem 2rem;
            }
            .icon-eye {
                right: 8px;
            }
        }
    }
}
