.container__navbar {
    display: flex;
    justify-content: space-between;

    .navbar__h2 {
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
            color: var(--primary);
        }

        &:hover .navbar__strong-hover {
            color: var(--tertiary);
        }
    }

    .nav {
        font-family: 'Titillium Web';
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
    }

    .nav * {
        box-sizing: border-box;
        transition: all .35s ease;
    }

    .nav li {
        display: inline-block;
        list-style: outside none none;
        margin: .5em 1em;
        padding: 0;
        cursor: pointer;
    }

    .nav a {
        padding: .5em .8em;
        color: var(--primary);
        position: relative;
        text-decoration: none;
    }

}

.container__navbar-scrolled {
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid var(--surface);
}