.pui-confirm-dialog {
	&.centered {
		justify-content: center;
		text-align: center;
	}

	.confirm-dialog-content {
		margin: 0;

		.dialog-title-text {
			margin: 0;
			color: var(--text-color);
		}
		.dialog-description-text {
			font-size: var(--app-code-font-size);
		}
	}

	.actions {
		border-top: 1px solid var(--gray-light);
		display: grid;
		grid-auto-flow: column;
		grid-gap: 0.5rem;
		justify-content: center;

		.pui-button {
			margin: 0;
			min-width: 6rem;
		}
	}

	&.modal-confirm {
		transform: none;
		height: max-content;
		width: max-content;
		display: flex;
		flex-direction: row-reverse;

		.close-modal {
			height: fit-content;
			width: max-content;
			position: absolute;
			top: 8px;
			right: 8px;
		}
	}
}
