$modal-bg-color: rgba(0, 0, 0, 0.4);
$modal-border-radius: var(--border-radius-base);
$modal-show-animation: show 0.5s ease-in-out;

body.body-pui-modal-opened {
	height: 100vh;
	overflow-y: hidden;
	padding-right: 15px;
}

.pui-modal {
	display: none;
	position: fixed;
	inset: 0;
	z-index: 1;
	overflow: auto;
	background-color: $modal-bg-color;
	color: var(--text);

	&.show-modal {
		display: block;
		z-index: 1000;
		height: 100%;
		width: 100%;
	}

	.modal-wrapper {
		width: 100%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 80vh;
		padding: 1rem;

		@media screen and (max-height: 600px) {
			height: auto;
		}
	}

	.modal-content {
		width: 100%;
		position: relative;
		background: var(--surface);
		animation: $modal-show-animation;
		border-radius: $modal-border-radius;
		padding: 2rem 1.5rem;

		@media screen and (max-width: 768px) {
			padding: 1rem;
		}

		&.sizing-sm {
			max-width: 25%;

			@media screen and (max-width: 768px) {
				max-width: 85%;
			}
		}

		&.sizing-md {
			max-width: 50%;

			@media screen and (max-width: 768px) {
				max-width: 90%;
			}
		}

		&.sizing-lg {
			max-width: 75%;

			@media screen and (max-width: 768px) {
				max-width: 95%;
			}
		}

		&.sizing-xl {
			max-width: 90%;

			@media screen and (max-width: 768px) {
				max-width: 100%;
			}
		}
	}
}

@keyframes show {
	0% {
		opacity: 0;
		transform: scale(0.2);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
