$colors: 'primary', 'secondary', 'success', 'danger', 'warning', 'info', 'default';

.pui-badge__container {
	display: inline-flex;
	position: relative;
	padding: 0.625rem;
	max-width: fit-content;
	align-items: center;
	justify-content: center;

	.pui-badge {

		position: absolute;
		top: -2px;
		right: 0px;
		display: inline-flex;
		align-items: center;
		padding: 0.1rem 0.3rem;
		justify-content: center;
		min-width: 1.248rem;

		&.pui-badge--has-value {
			padding: 0.3rem;
			font-size: 0.65rem;
		}

		border-radius: 50%;
		background-color: var(--primary);
		font-size: 0.5rem;

		&.pui-badge--visible {
			height: 0.7rem;
			width: 0.7rem;
		}

		// Traverse the list and create the classes
		@each $color in $colors {
			&.pui-badge--#{$color} {
				color: var(--on-#{$color});
				background: var(--#{$color});
			}
		}

		&.dot {
			position: absolute;
			top: 5px;
			right: 10px;
			display: inline-flex;
			padding: 0;
			min-width: 0.5rem;
			font-size: 0;
			height: 0.5rem;
			width: 0.5rem;
			border-radius: 100%;
		}
	}
}