.pui-empty-section {
	text-align: center;
	flex-grow: 1;
	display: flex;
	h3 {
		margin: 1rem 0;
		padding: 0;

		&:first-letter {
			text-transform: uppercase;
		}
	}
	.content {
		display: flex;
		gap: 1rem;
	}

	svg {
		width: 45px;
		height: 45px;
		display: grid;
		margin: auto;
		fill: var(--text-color);
	}
}
