
.view-pricing {

    .component-result-precing {
        display: flex;
        flex-direction: row;
        gap: 25px;

        .container__p-pricing {
            ul {
                transform: translateX(-40px);
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        .view__p {
            transform: translateY(25px);
        }
        .view__h3-props {
            margin: 20px 0px;
        }
    }
    
    .content-result {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    
        .result {
            display: flex;
            flex-direction: column;
        }
    }
}
