.pui-checkbox {
	.pui-checkbox--label {
		display: flex;
		gap: 0.5rem;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		cursor: pointer;
		span {
			display: inline-block;
			vertical-align: middle;
			transform: translate3d(0, 0, 0);
			color: var(--on-background);
			font-weight: 500;

			&:first-child {
				position: relative;
				width: 16px;
				height: 16px;
				border-radius: 4px;
				transform: scale(1);
				vertical-align: middle;
				border: 1px solid var(--outline);
				transition: all 0.2s ease;
				svg {
					position: absolute;
					z-index: 1;
					top: 3px;
					left: 2px;
					fill: none;
					stroke: var(--on-primary);
					stroke-width: 2;
					stroke-linecap: round;
					stroke-linejoin: round;
					stroke-dasharray: 14px;
					stroke-dashoffset: 16px;
					transition: all 0.3s ease;
					transition-delay: 0.1s;
					transform: translate3d(0, 0, 0);
					width: 12px;
					height: 9px;
				}

				&:before {
					content: '';
					width: 100%;
					height: 100%;
					background-color: var(--primary);
					display: block;
					transform: scale(0);
					opacity: 1;
					border-radius: 6px;
					transition-delay: 0.2s;
				}
			}
			&:last-child {
				&:after {
					content: '';
					position: absolute;
					top: 13px;
					left: 0;
					height: 1px;
					width: 100%;
					transform-origin: 0 0;
					transform: scaleX(0);
				}
			}
		}
		&:hover span:first-child {
			border-color: var(--primary);
		}
	}
	.pui-checkbox--input {
		display: none;
	}
	.pui-checkbox--input:checked + .pui-checkbox--label span {
		&:first-child {
			border-color: var(--primary);
			background: var(--primary);
			-webkit-animation: check 0.6s ease;
			animation: check 0.6s ease;
			svg {
				stroke-dashoffset: 0;
			}
			&:before {
				transform: scale(2.2);
				opacity: 0;
				transition: all 0.6s ease;
			}
		}
		&:last-child {
			color: var(--tertiary);
			transition: all 0.3s ease;
		}
		&:after {
			transform: scaleX(1);
			transition: all 0.3s ease;
		}
	}

	@-webkit-keyframes check {
		50% {
			transform: scale(1.2);
		}
	}

	@keyframes check {
		50% {
			transform: scale(1.2);
		}
	}
}
