.pui-tabs-container {
	display: flex;
	flex-direction: column;
	position: relative;
	.pui-tab-menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.tab-content-wrapper {
	width: 100%;
}
