$types: 'default', 'primary', 'secondary', 'tertiary', 'success', 'info', 'warning', 'danger';

.pui-chip {
	padding: 0.438rem 1rem;
	border-radius: 1rem;
	font-size: 13px;
	display: flex;
	flex-direction: row;
	width: fit-content;
	gap: .6rem;
	align-items: center;

	@each $type in $types {
		&.pui-chip--#{$type} {
			background: var(--#{$type});
			color: var(--on-#{$type});
		}
	}
}


.pui-chip__container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.25rem;
	width: fit-content;
	
	.content-chip {
		display: flex;
		gap: .5rem;
		.pui-chip {
			&.is-clickable {
				cursor: pointer;
			}
		}
	}
}