/**
pragmate-ui
.pui-modal
*/
.pui-modal.pui-confirm-dialog {
	&.pui-confirm-dialog-centered {
		justify-content: center;
		text-align: center;
		color: var(--on-surface);
		.pui-actions,
		.actions {
			padding-top: 1rem;
			display: flex;
			gap: 0.5rem;
			justify-content: center;
		}
	}
	.pui-confirm-dialog-content:where(p, div, h3, h4) {
		color: var(--on-surface);
	}
	.pui-confirm-dialog-content {
		h3 {
			margin: 0;
		}
		&__text {
			margin: 0.5rem 0 0;
		}
	}
	.pui-actions,
	.actions {
		padding-top: 1rem;
		margin-top: 15px;
		display: grid;
		grid-auto-flow: column;
		grid-gap: 0.25rem;
		justify-content: end;
	}
}
