.pui-alert-dialog {
	&.pui-alert-dialog-centered {
		.alert-dialog-content,
		.actions {
			display: grid;
			justify-content: center;
		}
	}

	.alert-dialog-content {
		display: flex;
		flex-direction: column;
		row-gap: 8px; // @todo add custom-property for default gaps
		& :where(h3, div) {
			color: var(--on-surface);
		}
	}

	.actions {
		border-top: 1px solid var(--separator);
		margin-top: 15px;
		display: grid;
		justify-content: end;
		padding: 1rem 0 0;
	}
}
