body.body-pui-modal-opened {
	height: 100vh;
	overflow-y: hidden;
	padding-right: 15px;
}

.pui-modal {
	display: none;
	position: fixed;
	inset: 0;
	z-index: 1;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	color: var(--text);
	&.show-modal {
		display: block;
		z-index: 1000;
		height: 100vh;
		width: 100vw;
	}

	.modal-wrapper {
		width: 100%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 80vh;
		height: 100%;
		@media screen and (max-height: 500px) {
			height: auto;
		}
	}

	.modal-content {
		position: relative;
		background: var(--surface);
		animation: show 0.5s ease-in-out;
		border-radius: var(--border-radius-base);
		padding: 2rem 1.5rem;
	}
}

@keyframes show {
	0% {
		opacity: 0;
		transform: scale(0.2);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
