.content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 0 0 0 1rem;

	&__spinners {
		display: grid;
		grid-template-columns: 1fr 1fr;
		.pragmate-element-spinner {
			margin: 0;
		}
	}
}
