@import '~template/sass/variables';
.beyond-element-image {
    position: relative;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    -webkit-margin-end: 0;
            margin-inline-end: 0;
  
    &.beyond-element-image-error,
    &.beyond-element-image-preload {
      background-color: var(--gray);
      display: block;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &.beyond-element-image-error {
      display: flex;
      align-items: center;
      justify-content: center;
      .content-error {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 2;
        .beyond-icon-button {
          width: 50px;
          height: 50px;
          z-index: 1000;
          .beyond-icon {
            width: 35px;
            height: 35px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
        span {
          font-size: 12px;
          display: block;
          text-align: center;
        }
      }
    }
    &.cover-image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  
    &.contain img {
      -o-object-fit: contain;
      object-fit: contain;
    }
  
    &.fill img {
      -o-object-fit: fill;
      object-fit: fill;
    }
  }
