.pui-dropdown-container {
	.pui-dropdown-menu {
		position: absolute;
		display: none;

		cursor: pointer;
		&.pui-dropdown-menu--opened {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		.pui-dropdown-menu__list {
			position: relative;
			list-style: none;
			padding: 0;
		}
	}
}
