.essential__dropdown {
	margin: 0;
	background: var(--secondary);
	width: 100%;
	.title {
		cursor: pointer;
		padding: 1rem 2rem;
		display: grid;
		grid-template-columns: calc(100% - 24px) 24px;
		align-items: center;

		h6 {
			font-size: 16px;
			color: var(--text-on-primary);
			line-height: 1;
			letter-spacing: 0;
			margin: 0;
			padding: 0;
			font-weight: 400;
		}

		.icon {
			transition: all 0.3s ease-in-out;
			fill: var(--text-on-primary);
		}

		&.open {
			.icon {
				transform: rotate(90deg);
			}
		}
	}

	.content {
		padding: 1rem 2rem 2rem 2rem;
	}
}
