$alert-types: 'success', 'error', 'warning', 'info';

@mixin generate-alerts {
	@each $type in $alert-types {
		&.alert--#{$type} {
			color: var(--on-#{$type});
			border-color: var(--#{$type}-border-color);
			background: var(--#{$type}-container);

			.alert-icon {
				fill: var(--#{$type}-icon-color);
			}
		}
	}
}
