:root {
	/* Info Alert Colors */
	--on-info: var(--on-info, #0d47a1);
	--info-icon-color: var(--info-icon-color, --on-info);
	--info-container: var(--info-container, hsl(210, 48%, 28%)); /* Example hsl value for Blue 50 */
	--info-border-color: var(--info-border-color, hsl(210, 100%, 90%)); /* 5% darker */

	/* Warning Alert Colors */
	--on-warning: var(--on-warning, #f57f17);
	--warning-icon-color: var(--warning-icon-color, --on-warning);
	--warning-container: var(--warning-container, hsl(35, 100%, 95%)); /* Example hsl value for Amber 50 */
	--warning-border-color: var(--warning-border-color, hsl(35, 100%, 90%));

	/* Success Alert Colors */
	--on-success: var(--on-success, #1b5e20);
	--success-icon-color: var(--success-icon-color, --on-success);
	--success-container: var(--success-container, hsl(122, 40%, 95%)); /* Example hsl value for Green 50 */
	--success-border-color: var(--success-border-color, hsl(122, 40%, 90%));

	/* Error/Danger Alert Colors */
	--on-error: var(--on-error, #b71c1c);
	--error-icon-color: var(--error-icon-color, --on-error);
	--error-container: var(--error-container, hsl(0, 90%, 95%)); /* Example hsl value for Red 50 */
	--error-border-color: var(--error-border-color, hsl(0, 90%, 90%));
}
