.pui-tabs-container {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	position: relative;

	.pui-tab-menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.tabs {
	overflow-x: auto;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.tab-content-wrapper {
	width: 100%;
}
