.sidebar {
	background: var(--surface);
	height: 100%;
	position: fixed;
	top: 0;
	left: -220px;
	width: 300px;
	height: 100%;
	transition: all 0.3s ease;

	&__header {
		height: min-content;
		padding: 2rem 20px;
		display: flex;
		align-items: center;
		justify-content: center;

		.logo {
			width: 100%;
			margin: 0 auto;
		}

		.toggle__btn {
			background: transparent;
			position: absolute;
			top: 12px;
			right: 12px;
			padding: 10px 15px;
			border: none;
			cursor: pointer;
			svg.beyond-icon {
				width: 20px;
				height: 20px;
				fill: var(--on-primary);
			}
		}
	}

	&:hover,
	&.open {
		left: 0;

		ul {
			overflow-y: auto;
		}
		.sidebar__header .toggle__btn svg.beyond-icon {
			fill: var(--primary-dark);
		}
	}

	&__nav {
		padding: 0 20px 20px 20px;
		height: 100%;
		height: 100%;
		max-height: 80vh;
		.sidebar-list {
			height: 100%;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin-bottom: 10px;
			}
		}
	}
}
