@import '~template/sass/variables';
.alert {
	padding: 1rem 6px;
	display: grid;
	color: #323232;
	text-align: center;
	border-radius: var(--border-secondary);
	font-size: 13px;
	margin: 0.5rem 0;
	position: relative;
	width: 100%;
	
}
