.pui-tabs-container {
	&.pui-tabs-vertical {
		.pui-tabs-items {
			width: 50px;
			height: 100%;
			position: relative;

			.tabs-container {
				position: -webkit-sticky;
				position: sticky;
				top: 8px;
			}
		}
	}

	&.pui-tabs-horizontal {
		.pui-tabs-items {
			display: flex;
			background: lightgray;
			height: 100%;

			.tabs-container {
				width: 100%;
				display: flex;
			}
		}
	}

	.pui-tabs-items {
		z-index: 0;

		.pui-tab {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 15px;
			flex-grow: 1;
			border: transparent;
			box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
			button {
				border: none;
					background: transparent;
					outline: none;
					width: 100%;
					height: 100%;
					margin: 0;
					color: var(--altern-text-color);
					transition: all 0.3s ease-in-out;
					cursor: pointer;
					position: relative;
					overflow: hidden;
					border: none;
			}

			&:hover {
				transition: all 0.3s ease-in-out;
				background: rgb(121, 115, 115);
			}
			&.tab-active {
				svg {
					fill: var(--primary);
				}
			}

			svg {
				margin: auto;
				cursor: pointer;
			}
		}
	}
}
