.view {
	padding-bottom: 2rem;

	.component-result {
		padding: 24px 24px 0;
		color: var(--text-on-primary);
		row-gap: 8px;

		display: flex;
		align-items: center;
		gap: 1rem;

		h3 {
			height: fit-content;
		}
	}

	.component-info {
		padding: 24px 24px 0;
		display: flex;
		color: var(--text-on-primary);
		flex-direction: column;
		row-gap: 8px;
		svg.beyond-icon {
			fill: var(--text-on-secondary);
		}
	}
	.component-implementation {
		display: flex;
		align-items: flex-start;
		.component-info {
			padding: 24px 0 24px 24px;
		}
		.component-info, .component-result {
			flex: 1 1 50%;
		}
		.component-result {
			flex-direction: column;
			h3 {
				align-self: flex-start;
			}
		}
		.component-detail {
			display: flex;
			flex-direction: column;
			row-gap: 16px;
			margin: 16px 0 0;
			p {
				line-height: 1.5;
			}
			code {
				font-style: italic;
				background-color: var(--secondary);
				padding: 4px;
			}
		}
		@media screen and (max-width: 1024px) {
			flex-direction: column;
			.component-info, .component-result {
				flex: 1 1 100%;
				width: 100%;
			}
			.component-info {
				padding: 24px 24px 0;
			}
		}
	}
}
