$color1: #f4f4f4;
$color2: #3197ee;

.pui-input-radio {
	margin: 0.5rem;
	display: flex;

	input[type='radio'] {
		position: absolute;
		opacity: 0;
		+ .pui-radio-label {
			&:before {
				content: '';
				background: var(--surface);
				border-radius: 100%;
				border: 1px solid var(--outline);
				display: inline-block;
				width: 1em;
				height: 1em;
				position: relative;
				top: -0.1rem;
				margin-right: 0.5rem;
				vertical-align: top;
				cursor: pointer;
				text-align: center;
				transition: all 250ms ease;
			}
		}
		&:checked {
			+ .pui-radio-label {
				&:before {
					background-color: var(--primary);
					box-shadow: inset 0 0 0 4px var(--surface);
				}
			}
		}
		&:focus {
			+ .pui-radio-label {
				&:before {
					outline: none;
					border-color: var(--primary);
				}
			}
		}
		&:disabled {
			+ .radio-label {
				&:before {
					box-shadow: inset 0 0 0 4px $color1;
					border-color: var(--disabled);
				}
			}
		}
		+ .radio-label {
			&:empty {
				&:before {
					margin-right: 0;
				}
			}
		}
	}
}
