* {
	font-family: var(--font-family);
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
}

code {
	color: var(--on-tertiary);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

html {
	color-scheme: dark light;
}
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}
