.beyond-tabs-horizontal.beyond-tabs-container.beyond-tabs {
	.beyond-tabs-items {
		background: transparent;
		justify-content: flex-end;
		.tabs-container {
			width: inherit;
			.beyond-tab {
				padding: 0;
				button.pragmate-icon-button svg.pragmate-icon {
					fill: var(--on-primary);
				}
				&.tab-active button.pragmate-icon-button svg.pragmate-icon {
					fill: var(--primary);
				}
			}
		}
	}
}
