:host {
	--code-bg: var(--app-code-bg, var(--surface));
	--code-font-size: var(--app-code-font-size, 0.8rem);
	--code-padding: var(--app-code-padding, 1rem);
	--clipboard-color: var(--app-clipboard-color, var(--on-primary));
}
