:root {
	--focused-background: red;
	--focused-text: white;
	--border: var(--surface);
}
.pui-select {
	.pui-react-select__placeholder,
	.pui-react-select__single-value {
		color: var(--text-color);
	}
	// Adjusting the main container

	.pui-react-select__control {
		background-color: var(--background);
		color: var(--text);
		max-height: 30px;
		// Styles for when the select is focused
		&--is-focused {
			border-color: var(--border);
			box-shadow: 0 0 0 1px var(--border);
		}
	}

	// Styles for the dropdown menu
	.pui-react-select__menu {
		background-color: var(--surface) !important;
		color: var(--text);
	}

	// Styles for individual options in the dropdown
	.pui-react-select__option {
		&--is-selected {
			background-color: var(--selected-background);
			color: var(--selected-text);
		}

		&--is-focused {
			background-color: var(--surface-variant);
			color: var(--focused-text);
		}
	}
}
