.beyond-element-modal {

  &.md {
    .modal-content {
      width: 70%;
    }

  }

  &.lg .modal-content {
    width: 90%;
  }

  @media (max-width: 600px) {
    &, &.md, &.lg {
      .modal-content {
        width: 90%;
      }
    }
  }
  @media (max-width: 900px) {
    &.md {
      min-width: 80%;
    }
    &.lg {
      width: 90%;
    }
  }
}
