.modal-jadmin.beyond-element-modal {
    .modal-content {
        border-radius: var(--border-primary);
        min-width: 350px;
        background-color: var(--surface);
        .content-form .form-group {
            gap: 20px !important;
        }
        h3 {
            margin: 0;
            text-align: start;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 1;
            color: var(--secondary);
            font-weight: 500;
            &.title {
                margin: 16px 0;
            }
        }
        .confirm-dialog-content {
            display: flex;
            flex-direction: column;

            div {
                color: var(--on-secondary);
            }
        }
    }
    @media screen and (max-width: 450px) {
        .modal-content {
            min-width: auto;
            width: 100%;
            .confirm-dialog-content {
                h3 {
                    font-size: 18px;
                }
                div {
                    font-size: 15px;
                }
            }
        }
    }
    &.show-modal {
        padding: 16px;
    }
}
