@use 'mixins';
$tablet-breakpoint: 1440px;

.home__header {
	height: 100%;
	padding: 3rem;

	display: grid;
	place-content: center;
	gap: 1rem;

	&-main-content {
		@include mixins.center-flex();
	}

	.started {
		@include mixins.center-flex();

		.code-container {
			width: 280px;

			.clipboard__container {
				top: 1.4rem;
			}
		}
	}
}
