.home-header {
	--font-header: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	h1 {
		text-align: center;
		font-size: 5rem;
		font-weight: bolder;
		font-family: var(--font-header);
		margin: 0;
	}

	p {
		width: 80%;
		font-weight: 600;
		color: var(--secondary-text-color);
		font-size: 1.4rem;
		text-align: center;
		transition: all 0.7s;
		margin: 0;
	}
}
