.pui-checkbox-group {
	.pui-group__items-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 1rem;
	}

	&.pui-checkbox-group--row {
		.pui-group__items-container {
			flex-direction: row;
		}
	}
}
