$placeholder-devices: '::-webkit-input-', '::-moz-', ':-ms-input-', '::-ms-input-', '::';
.pui-textarea.pui-textarea--floating {
	position: relative;
	padding-top: 1.3rem;
	padding-bottom: 0.5rem;
	border: 1px solid var(--outline);
	border-radius: var(--border-radius-base);
	transition: all 300ms ease-in-out;

	textarea {
		padding: 0 1rem;
		border: none;
		transition: all 300ms ease-in-out;
		&::-webkit-resizer {
			display: none; // Hides the resize handle in WebKit-based browsers (Chrome, Edge, Safari)
		}

		&:is(:focus)::placeholder {
			color: transparent;
		}
		&:is(:focus) ~ label {
			transform: translateY(-0.8rem);
			font-size: 0.765rem;
			transform-origin: top left; // Anchor the label's top-left corner
		}
		// Aplica estilos a inputs que NO tengan la clase `with-placeholder`
		&:not(.with-placeholder) {
			@each $placeholder in $placeholder-devices {
				&#{nth($placeholder, 1)}placeholder {
					color: transparent;
				}
			}
		}

		&:not(:placeholder-shown) ~ label {
			transform: translateY(-0.8rem);
			font-size: 0.765rem;
			transform-origin: top left; // Anchor the label's top-left corner
		}
	}
	label {
		transition: all 300ms ease-in-out;
		position: absolute;
		left: 1rem;
		top: 1rem;
	}
}
