$font-family: var(--font-family);
$secondary-font-family: var(--secondary-font-family);
$title-font: var(--title-font);
$gray-base: var(--gray-base);
$gray-darker: var(--gray-darker);
$gray-dark: var(--gray-dark);
$gray: var(--gray);
$gray-light: var(--gray-light);
$gray-lighter: var(--gray-lighter);
$gray-variant: var(--gray-variant);

$primary: var(--primary);
$primary-dark: var(--primary-dark);
$primary-light: var(--primary-light);
$primary-accent: #E36152;
$text-on-primary: var(--text-on-primary);

$secondary: var(--secondary);
$secondary-dark: var(--secondary-dark);
$secondary-light: var(--secondary-light);
$secondary-accent: #F7C700;
$text-on-secondary: var(--text-on-secondary);

$background: var(--background);
$element-bg: var(--element-bg);
$text-color: var(--text-color);
$border: var(--border);
$border-variant: var(--border-variant);
$text: var(--text);

$success: var(--success);
$warning: var(--warning);
$info: var(--info);
$error: var(--error);
$chat-online: var(--chat-online);
$preload: var(--secondary);

$gray-100: #f6f6ff;
$gray-200: #d9d9e7;
$gray-300: #b8b8cc;
$gray-400: #9696ac;
$gray-500: #5b5b6e;
$gray-600: #383847;
$gray-700: #1f1f28;

$topbar-height: 80px;
$topbar-height-mobile: 70px;

$sidebar-left-width: 120px;
$sidebar-left-width-mobile: 90px;
$sidebar-left-secondary-width: 220px;
$sidebar-left-secondary-width-mobile: 190px;
$side-clearance: 20px;

$border-primary: var(--border-primary);
$border-secondary: var(--border-secondary);