.pui-breadcrumb__container {
	background: transparent;
	align-items: center;
	display: flex;
	padding: 0;
	cursor: pointer;

	.pui-breadcrumb {
		padding: 0;
		list-style: none;
		.breadcrumb__item--current {
			cursor: default;
			color: var(--secondary);
			&:hover {
				color: var(--secondary);
			}
		}
	}
}
