.component-container {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 400px minmax(5rem, 1fr);
    grid-template-rows: 2rem;
    grid-gap: 30px;

    .column {
        text-align: center;
    }
}

.component-container__alert {
    .pragmate-icon-button {
        top: 16px;
    }
}