@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@mixin properties() {
	--text-color: #f2ecff;
	--altern-text-color: var(--background);
	--secondary-text-color: var(--secondary);
	--font-family: 'Poppins', sans-serif;

	--primary: #ff8056;
	--on-primary: #fff;
	--primary-container: hsl(var(--primary), 36%, 16%);
	--on-primary-container: hsl(var(--on-primary), 33%, 96%);

	--secondary: #3d5af3;
	--on-secondary: #fff;
	--secondary-container: hsl(var(--secondary), 57%, 55%);
	--on-secondary-container: hsl(var(--on-secondary), 24%, 35%);

	--tertiary: #5c6bc0;
	--on-tertiary: #fff;
	--secondary-container: hsl(var(--tertiary), 57%, 55%);
	--on-ter--tertiary-container: hsl(var(--on-tertiary), 24%, 35%);

	--error: #444444;
	--on-error: #bbbbbb;
	--error-container: #222222;
	--on-error-container: #dddddd;

	--background: #0c1e2c;
	--on-background: #fff;
	--surface: #263238;

	--outline: #888888;

	--on-surface: #fff;
	--surface-variant: #0c1e2c;
}
