@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@mixin properties() {
	--text-color: #1a1a1a;
	--altern-text-color: var(--background);
	--secondary-text-color: var(--secondary);
	--font-family: 'Poppins', sans-serif;

	--primary: #ff8056;

	--on-primary: #fff;
	--primary-container: hsl(var(--primary), 36%, 16%);
	--on-primary-container: hsl(var(--on-primary), 33%, 96%);

	--secondary: #3d5af3;
	--on-secondary: #fff;
	--secondary-container: hsl(var(--secondary), 57%, 55%);
	--on-secondary-container: hsl(var(--on-secondary), 24%, 35%);

	--tertiary: #5c6bc0;
	--on-tertiary: #fff;
	--tertiary-container: #999999;
	--on-tertiary-container: #666666;

	--background: #fff;
	--on-background: #1f1f1f;
	--surface: #f7f7f7;

	--outline: #888888;

	--on-surface: #1f1f1f;
	--surface-variant: #fbfbfb;
}
