@use 'dark';
@use 'light';
@use 'alerts';
@import 'palette';
@import 'neutral-palette';
@import './pragmate/generate-palette';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
:root {
	--font-family: 'Poppins', sans-serif;;
	--secondary-font-family: 'Roboto', sans-serif;
	--title-font: 'Inter', sans-serif;
	--border-primary: 20px;
	--border-secondary: 8px;
	--border-radius-base: 1rem;

	@include neutral-palette();
	@include alerts.properties();
	@include light.properties();
	@media (prefers-color-scheme: dark) {
		@include dark.properties();
	}
}

html[data-beyond-mode='light'] {
	@include light.properties();
}

html[data-beyond-mode='dark'] {
	@include dark.properties();
}
