@use 'dark';
@use 'light';

:root {
	--font-family: 'Roboto', sans-serif;
	--secondary-font-family: 'Roboto', sans-serif;
	--title-font: 'Roboto', serif;

	--gray-base: #000000;
	--gray-darker: #333333;
	--gray-dark: #707070;
	--gray: #d3d3d3;
	--gray-variant: #ededed;
	--gray-light: #dfe0e2;
	--gray-lighter: #f7f7f7;

	--success: #22bb33;
	--warning: #f7c700;
	--error: #fb8787;
	--border-error: #ff0c0c;
	--info: hsla(211, 88%, 53%, 1);

	--border-primary: 20px;
	--border-secondary: 8px;

	@include light.properties();
	@media (prefers-color-scheme: dark) {
		@include dark.properties();
	}
}

html[data-beyond-mode='light'] {
	@include light.properties();
}

html[data-beyond-mode='dark'] {
	@include dark.properties();
}
