input,
textarea {
	padding: 0.5rem;
}

.pui-input {
	display: flex;
	flex-direction: column;
	position: relative;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.5rem;

	input {
		order: 2;
		&:disabled {
			opacity: 0.3;
			cursor: not-allowed;
		}
	}
	label {
		order: 1;
		flex: 1;
		&.pui-input__label--bottom,
		&.pui-input__label--bottom-right {
			order: 3;
		}
	}
}
