.pui-input .pui-input__label {
	display: inline-flex;
	justify-content: space-between;

	&.pui-input__label--right,
	&.pui-input__label--bottom-right {
		justify-content: flex-end;
	}
	span {
		&.pui-input__label--right {
			display: flex;
			align-self: end;
		}
	}
}
