@import './keyframes';
.pragmate-element-spinner {
	width: 30px;
	height: 30px;
	margin: auto;
	svg {
		-webkit-animation: rotate 1.5s linear infinite;
		animation: rotate 1.5s linear infinite;
		height: 100%;
		width: 100%;
	}
	circle {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
		-webkit-animation: dash 1.5s ease-in-out infinite 0s, 6s ease-in-out infinite -0.75s;
		animation: dash 1.5s ease-in-out infinite 0s, 6s ease-in-out infinite -0.75s;
		stroke-linecap: round;
		fill: none;
		stroke-width: 3;
		//stroke: #000;
	}
	opacity: 0;
	&.is-active {
		opacity: 1;
	}
	
}

