.pui-modal {
	position: relative;
	.pui-icon-button.close-icon {
		position: absolute;
		top: 0.5rem;

		right: 0.5rem;
		border: none;

		fill: var(--on-surface);
		opacity: 0.7;
		transition: all 100ms ease-in;
		padding: 0 !important;
		height: 1.5rem;
		width: 1.5rem;
		outline: none;
		cursor: pointer;
		border-radius: 50%;

		&:focus {
			transition: all 100ms ease-in;
			opacity: 1;
		}
	}
}
