.badge {
    background-color: var(--primary-dark);
    border-radius: var(--border-primary);
    color: var(--text);
    width: max-content;
    column-gap: 10px;
    display: flex;
    padding: 6px 12px;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    span {
        font-size: 14px;
        color: var(--text-on-primary);
        background-color: var(--element-bg);
        border-radius: 50%;
        width: 14px;
        height: 14px;
        line-height: 26px;
        display: block;
        text-align: center;
        padding: 0px;
        line-height: 11.9px;
        border: 1px solid var(--border-color);
        text-transform: lowercase;
        cursor: pointer;
    }
}