@import "~template/sass/variables";
select {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-on-primary);
  line-height: 1.3;
  padding: 6px 23px 6px 23px;
  width: auto;
  margin: 0;
  border: 1px solid var(--input-bg);
  box-shadow: none;
  border-radius: 0.3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--input-bg);
  transition: all 0.15s ease-in-out;
  border-radius: var(--border-primary);
  height: 40px;
  /* line-height: 1.5rem; */
  &:hover:not(&:disabled),
  &:focus:not(&:disabled) {
    border-color: var(--primary-light);
    color: var(--text-on-primary);
  }
  &:focus {
    border-color: var(--primary-dark);
    color: var(--text-on-primary);
    outline: none;
  }
  option {
    font-weight: normal;
  }
  &:disabled {
    opacity: 0.4 !important;
    cursor: not-allowed;
  }
 
  @media screen and (max-width: 360px) {
    font-size: 12px;
  }
}
