.beyond-element-switch {
    label.switch {
        height: 20px;
        .slider {
            overflow: visible;
            background-color: var(--primary-accent);
            border-color: var(--primary-accent);
            &:before {
                overflow: visible;
                height: 20px;
                width: 20px;
                top: -1px;
                background-color: var(--primary-dark);
            }
        }

        input {
            &:checked + .slider {
                background-color: var(--primary-light);
                border-color: var(--primary-light);
                &:before {
                    background-color: var(--primary-accent);
                }
            }
        }
    }
}
