.beyond-tabs.beyond-tabs-container.beyond-tabs-horizontal {
    .beyond-tabs-items {
        background-color: transparent;
        .tabs-container {
            flex-wrap: wrap;
            row-gap: 8px;
            .beyond-tab {
                max-width: 219px;
                width: 100%;
                padding: 11px 60px;
                background-color: var(--surface);
                transition: all 300ms ease-in-out;
                box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
                cursor: pointer;
                button {
                    background: transparent;
                    border: none;
                    outline: none;
                    color: var(--on-primary);
                    cursor: pointer;
                    width: 100%;
                    display: block;
                }
                &.tab-active,
                &:hover {
                    background-color: var(--primary);
                    color: var(--text);
                    button {
                        color: var(--text);
                    }
                }
            }
            :first-child {
                border-top-left-radius: var(--border-secondary);
                border-bottom-left-radius: var(--border-secondary);
            }
            :last-child {
                border-top-right-radius: var(--border-secondary);
                border-bottom-right-radius: var(--border-secondary);
            }
        }
    }
    @media screen and (max-width: 1280px) {
        .beyond-tabs-items .tabs-container {
            .beyond-tab {
                padding: 11px 20px;
                max-width: 150px;
            }
            :first-child, :last-child {
              border-radius: 0;
            }
        }
    }
    @media screen and (max-width: 450px) {
        .beyond-tabs-items .tabs-container .beyond-tab {
            padding: 11px 20px;
            max-width: auto;
        }
    }
}
